# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Video & image outputs (nếu bạn ghi lại video từ webcam)
*.avi
*.mp4
*.jpg
*.png

# Python environment & dependency files
Pipfile.lock
poetry.lock
